body {
    /* Forzamos altura para poder probar el botón de Top Scroll */
    min-height: 150vh; 
}

/* Formas interactivas personalizadas */
.custom-box {
    width: 200px;
    height: 100px;
    background-color: #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.shape-circle {
    width: 100px;
    height: 100px;
    background-color: #dc3545;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shape-square {
    border-radius: 8px;
    background-color: #198754;
}

/* Botón Top Scroll */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none; /* Oculto por defecto */
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    z-index: 1050;
}